In [1]:
from pyspark.sql import Row

In [2]:
class RDD:
    def __init__(self):
        global df
        global esquema
        esquema = sc.textFile("ejercicio21.txt").map(lambda line: line.split(",")).map(lambda x: Row(id=int(x[0]),nombre=x[1],ciudad=x[2],pais=x[3],latitud=int(x[4]),altitud=int(x[5]),longitud=int(x[6]),horario=x[7])).collect()
        df = sqlContext.createDataFrame(esquema)
        sqlContext.registerDataFrameAsTable(df,"datos")
        df.registerTempTable("datos")
        
    def espania(self):
        data=sqlContext.sql("Select * from datos where pais='Espana'")
        data.show()
        data.write.csv('EspaÃ±a.csv')
        
    def latitud(self):
        data2=sqlContext.sql("Select * from datos where latitud > 40")
        data2.show()
        data2.write.csv('latitud.csv')

In [3]:
busqueda=RDD()
busqueda.espania()
busqueda.latitud()

+-------+------+-------+---+-------+--------+--------+------+
|altitud|ciudad|horario| id|latitud|longitud|  nombre|  pais|
+-------+------+-------+---+-------+--------+--------+------+
|     34|   ZAZ|  UTC11|  0|     74|      85|zaragoza|Espana|
|     84|   SDR|   UTC3|  1|     40|     124| Camargo|Espana|
+-------+------+-------+---+-------+--------+--------+------+

+-------+------+-------+---+-------+--------+---------+--------+
|altitud|ciudad|horario| id|latitud|longitud|   nombre|    pais|
+-------+------+-------+---+-------+--------+---------+--------+
|     34|   ZAZ|  UTC11|  0|     74|      85| zaragoza|  Espana|
|     92|   RES|  UTC12|  3|     60|     100|    Noain| Francia|
|     79|   PER|   UTC5|  5|     45|     143|Agoncillo|Portugal|
|     90|   MGH|   UTC1|  7|     60|     140|    Lujua|   Suiza|
+-------+------+-------+---+-------+--------+---------+--------+